@font-face {
  font-family: "Akkurat-Bold";
  src: url("/assets/fonts/lineto-akkurat-bold.eot");
  src: url("/assets/fonts/lineto-akkurat-bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/lineto-akkurat-bold.woff2") format("woff2"),
    url("/assets/fonts/lineto-akkurat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Regular";
  src: url("/assets/fonts/lineto-akkurat-regular.eot");
  src: url("/assets/fonts/lineto-akkurat-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/lineto-akkurat-regular.woff2") format("woff2"),
    url("/assets/fonts/lineto-akkurat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti-Text-Bold";
  src: url("/assets/fonts/GT-Eesti-Display-Bold.eot");
  src: url("/assets/fonts/GT-Eesti-Display-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/GT-Eesti-Display-Bold.woff2") format("woff2"),
    url("/assets/fonts/GT-Eesti-Display-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti-Text-Medium";
  src: url("/assets/fonts/GT-Eesti-Display-Medium.eot");
  src: url("/assets/fonts/GT-Eesti-Display-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/GT-Eesti-Display-Medium.woff2") format("woff2"),
    url("/assets/fonts/GT-Eesti-Display-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  width: 100%;
  height: auto;
  font-family: "Akkurat-Regular", sans-serif;
}

.icon {
  width: 16px;
}
.icon path,
.icon polygon,
.icon rect {
  fill: currentColor;
}

/** Helper class for keeping content within max width */
.body__content {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 600px) {
  .body__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/**
 * Set the z-index globally on map controls menu so it overlaps tooltips.  Placed
 * here because the element exists outside of the component DOM tree.
 */
.MuiModal-root.MuiMenu-root.map-controls__menu,
.MuiModal-root.data-mode__root {
  z-index: 1800;
}
